body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
#table tr:nth-child(odd) td {
  background: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}
#table tr:nth-child(even) td {
  background: lavender;
  padding-top: 2px;
  padding-bottom: 2px;
}
#table td {
   cursor: pointer;
   font-size: 15px;
}
#search {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 230);
}
#headline {
  background: #3c6363;
  color: white;
  position: sticky;
  top: 0;
}

.dropbtn {
  background-color: #3c6363;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
}
.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 156px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #304f4f;}
